/* WebsitePlayground.css */
h1{
	text-align: left;
	font-size: medium;
}

.draggable { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
}

.sticky{
	background-color: green;
}

.greenSticky{
	background-color: green;
}

.sticky p{
	text-align: center;
	font-size: medium;
}

#droppable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}

.test { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
}

#BrownTileArea{
	vertical-align:middle;
	left: 50%;
	height: 50px;
}

#createStickyButton { 
	top: 50px;
	left: 20%;
	position: absolute;
}

#stickyList{}

#sidebox {
	position:fixed;
	z-index: 100000;
	left: -225px;
	top: 50px;
	width:275px;
	height:650px;
}

#sidebox .tab,
#sidebox .content {
	background:#bada55;
}

#sidebox .content {
	float:left;
	width:225px;
	height: inherit;
}

#sidebox .tab {
	cursor:pointer;
	background: #A0A0A0;
	float:right;
	width:50px;
	height:100px;
}

#greenTileList
{
	padding-top: 5px;
	padding-left: 5px;
}

ul {
	
	padding-left: 0px;				
}

ul, li {
	list-style-type: none;
	display: inline;
	
}

.BrownTile
{
	width:200px;
	height:55px;
	background-color: #C2B59B;
	margin-left:auto;
    margin-right:auto;
	margin-top: 1em;
	margin-bottom: 1em;

	border-style: solid;
	border-width: 1.5px 1.5px 1.5px 1.5px;
	border-color: black;
	
	
}

.BrownTile p
{
	text-align: center;
}

#challengeCard
{
	/*position: absolute;*/
	width: 100px;
	height: 100px;
	
	float: right;
	background-color: yellow;
	
	border-style: solid;
	border-width: 1.5px;
	border-color: black;
	
	margin-top:-50px;
}

#ChallegeCardContent
{
	visibility: collapse;
	z-index: 50000;
}

h4{
	text-align: center;
}

#PickRandomQuestion
{
	visibility: inherit;
}

.RandomQuestion
{
	visibility: collapse;
}
.ChallengeCardQuestion
{
	visibility: collapse;
}
/* Footer stuff */
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
#container {
    min-height: 100%;
    margin-bottom: -100px;
}
* html #container {
    height: 100%;
}
#footer-spacer {
    height: 100px;
}
footer{
    height: 99px;
}
footer p {
    margin: 0;
    padding: 0.3em 0;
}

#tabbed_box {  
	margin: 0px auto 0px auto;  
	width:300px;  
}  

.tabbed_box h4 {  
	font-family:Arial, Helvetica, sans-serif;  
	font-size:23px;  
	color:#ffffff;  
	letter-spacing:-1px;  
	margin-bottom:10px;  
}  
.tabbed_box h4 small {  
	color:#e3e9ec;  
	font-weight:normal;  
	font-size:9px;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	text-transform:uppercase;  
	position:relative;  
	top:-4px;  
	left:6px;  
	letter-spacing:0px;  
}  

ul.tabs li a {  
	background-color:#464c54;  
	color:#ffebb5;  
	padding:8px 14px 8px 14px;  
	text-decoration:none;  
	font-size:9px;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-weight:bold;  
	text-transform:uppercase;  
	border:1px solid #464c54;   
}  
ul.tabs li a:hover {  
	background-color:#2f343a;  
	border-color:#2f343a;  
}  
ul.tabs li a.active {  
	background-color:#ffffff;  
	color:#282e32;  
	border:1px solid #464c54;   
	border-bottom: 1px solid #ffffff;  
}

.footerTabContent {  
	background-color:#ffffff;  
	padding:10px;  
	border:1px solid #464c54;     
	margin-top: 5px;
	height: 51px;
}  
#content_2, #content_3 { display:none; }  

ul.tabs {  
	margin:0px; padding:0px;  
	margin-top:5px;  
	margin-bottom:6px;
	width: 500px;
}  

.footerTabContent ul {  
	margin:0px;  
	padding:0px 20px 0px 20px;  
}  
.footerTabContent ul li {  
	list-style:none;  
	border-bottom:1px solid #d6dde0;  
	padding-top:15px;  
	padding-bottom:15px;  
	font-size:13px;  
}  
.footerTabContent ul li a {  
	text-decoration:none;  
	color:#3e4346;  
}  
.footerTabContent ul li a small {  
	color:#8b959c;  
	font-size:9px;  
	text-transform:uppercase;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	position:relative;  
	left:4px;  
	top:0px;  
}

.footerTab{
	
}