/* WebsitePlayground.css */
a{
	padding: 0px;
	margin: 0px;
}

.sticky{ 
	/*background: #005000;*/
}

.greenSticky{
	background-color: green;
}

.sticky p{
	text-align: center;
	font-size: medium;
}

#stickyList{}

/* 
	Header styles
*/
#HeaderSlidingBar
{
	position:fixed;
	z-index: 100000;
	top: -150px;
	width:100%;
}
#HeaderSlidingBar #HeaderTitle{
	background-color: #C1C4C6;
}
#HeaderSlidingBar #HeaderContent{
	width:100%;
	height: 150px;
	background: white;
}
#HeaderSlidingBar #HeaderTitle h1{
	color: white;
	padding: 0;
	margin: 0;
	font-size: 22px;
}
#HeaderSlidingBar #HeaderTitle p{
	color: black;
	display: inline;
}
#HeaderSlidingBar #BetaLogo{
	position: relative;
	float:right;
	margin-right: 50px;
}
#HeaderSlidingBar #HeaderTab{
	position: relative;
	float:right;
	margin-right: 15px;
	width: 35px;
	height: 25px;
	background-color: #C1C4C6;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/*
	End of header styles
*/

#greenTileList
{
	padding-top: 5px;
	padding-left: 5px;
}

ul {
	padding-left: 0px;				
}

ul #greenTileList li{
	list-style-type: none;
	display: inline;
	
}

#challengeCard
{
	width: 100px;
	height: 100px;
	
	background-color: yellow;
	
	border-style: solid;
	border-width: 1.5px;
	border-color: black;
	
}

#RightHandBar{
	float: right;
}

#StickyNoteIcon{
	width: 100px;
	height: 100px;
	background: #F9F8C9;
}

#ChallegeCardContent
{
	visibility: collapse;
}

h4{
	text-align: center;
}

#PickRandomQuestion
{
	visibility: inherit;
}

.RandomQuestion
{
	visibility: collapse;
}
.ChallengeCardQuestion
{
	visibility: collapse;
}

/* Footer stuff */
html, body , #Surface{
    height: 100%;
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
#StickySpace {
    min-height: 100%;
    margin-bottom: -151px;
}
* html #StickySpace {
    height: 100%;
}
footer{
    height: 150px;
}
footer p {
    margin: 0;
    padding: 0.3em 0;
}

#tabbed_box {  
	margin: 0px auto 0px auto;  
	width:300px;  
}  

.tabbed_box h4 {  
	font-family:Arial, Helvetica, sans-serif;  
	font-size:23px;  
	color:#ffffff;  
	letter-spacing:-1px;  
	margin-bottom:10px;  
}  
.tabbed_box h4 small {  
	color:#e3e9ec;  
	font-weight:normal;  
	font-size:9px;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	text-transform:uppercase;  
	position:relative;  
	top:-4px;  
	left:6px;  
	letter-spacing:0px;  
}  

ul.tabs{
	margin:0px; 
	padding:0px;  
	margin-top:5px;
	margin-bottom:6px;
}

ul.tabs li{
	display: inline;
	list-style:none;
}
ul.tabs li a {
	display: inline-block;
	background-color: grey;  
	color: black;
	padding-top:8px;
	padding-bottom:8px;
	text-decoration:none;  
	font-size:9px;  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-weight:bold;
	text-align: center;
	text-transform:uppercase;  
	border:1px solid black;
	
	width: 32.8%;
}  
ul.tabs li a:hover {  
	background-color: #606060;  
	border-color: black;  
}  
ul.tabs li a.active {  
	background-color:silver;  
	color:#282e32;  
	border:1px solid #464c54;   
	border-bottom: 1px solid silver;  
}

.footerTabContent {
	background-color:silver; 
	border:1px solid black;
	/*border-top-style: none;*/
	height: 100px;
	width: 97.5%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	float:left;
	margin-top: -7px;
}  
#content_2, #content_3 { display:none; }  

ul.footerTabContent {  
	margin:0px;
	/*padding:0px 20px 0px 20px;*/
}  
.footerTabContent ul li {
	list-style-type: none;
	display:inline-block;
	/*list-style:none;*/  
	border-bottom:1px solid #d6dde0;
}

ul#footerHelpAndAddIcons
{
	float:left;
}

ul#footerHelpAndAddIcons li
{
	list-style:none;
}
ul#footerHelpAndAddIcons li a
{
	display: block;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 10px;
}

#OverLay
{
	position:absolute;
	vertical-align: center;
	font-size: 30px;
	background-image:url(../dim.png);
	top:0; 
	left:0; 
	width:100%;
	z-index:100; 
	display:none; 
	text-align:left; 
}

.shadow {
	-moz-box-shadow:    4px 5px 8px 1px #666;
	-webkit-box-shadow: 4px 5px 8px 1px #666;
	box-shadow:         4px 5px 8px 1px #666;
}
		
.Window
{
	position:absolute; 
	width:300px; 
	height:200px; 
	z-index:200; 
	border:5px solid #222; 
	background: #FFF; 
	top: 50%; 
	left: 50%; 
	margin-top: -100px; 
	margin-left: -150px;
}

.GreyOverlay
{
	background:silver;
    opacity:0.2;
    filter:alpha(opacity=20);
}

a img.bottomBarIcon
{
	position: relative;
	top: 5px;
	left: -5px;
}

.GreenTileIcon{
	float: left;
}

.sticky-clone{
	width: 100px;
	height: 100px;
}

.sticky_editable
{
	width: 100px;
	height: 100px;
	background: #F9F8C9;
}